@import url('../css/clash-display.css');
@import url('../css/zodiak.css');

:root {
font-family: 'ClashDisplay-Variable', Helvetica, Arial;
  font-size: 56px;
  color:white;
  line-height: .8em;
}

body {
  background-color: black;
  margin: 0;
  padding-bottom: 2em;
  -webkit-font-smoothing: antialiased;
}

section {
  max-width: 35em;
  padding-left: .2em;
  padding-right: 1em;
  padding-top: 0em;
  padding-bottom: 0em;
  margin: 0 auto 0 1em;
  line-height: 1.1em;
}


h1 {
  font-variation-settings: 'wght'500;
  font-size: 1em;
  color:yellow;
  margin-top: 1.2em;
  margin-bottom: 0.4em;
  /* mix-blend-mode: difference; */
}

date{
  display: block;
  font-size: .3em;
  font-family: courier;
  color:yellow;
}

.thin {
  font-variation-settings: 'wght'200;
  color:white;
}

ul li{
  margin-bottom:.5em;
}

a{
  text-decoration:none;
  color:yellow;

}

ul li a:hover{
  cursor:e-resize;
}

ul li::marker {
  color: black;
}

hr {
  /* border-top: .6em solid black;
  margin-top: 4em; */
}


@keyframes bullet {
  0% {
    color: yellow;
    transform:translateX(10px);
  }
  100% {
    color:white;
    transform:translateX(10%);
  }
}

@keyframes rotator {
  0% {
    transform:rotate(0deg);
  }
  100% {
    transform:rotate(360deg);
  }
}

}
